		body
		{
			background-color:BLACK;
		}
		h1
		{
			color:WHITE;
			text-align:center;
		}
		h2
		{
			text-align:center;
			color:GREEN;
		}
		h3
		{
			text-align:center;
			color:GREEN;
		}
		#btnAdd
		{
			position:absolute;
			top:154px;
			left:845px;
		}
		#tblTextBoxes
		{
			position:absolute;
			left:45%;
		}
		#blinker
		{
			color:YELLOW;
		}